@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTBook.woff2') format('woff2'),
    url('../fonts/FuturaPTBook.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTMedium.woff2') format('woff2'),
    url('../fonts/FuturaPTMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --lilac-color: #5d71dd;
  --dark-color: #2f2222;
  --grid-gap: 40px;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-anchor: none;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'FuturaPT', sans-serif;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.blog-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-color);
}

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.form-input {
  width: 100%;
  padding: 13px 32px 13px 30px;
  background-color: #f5f5f5;
  border-radius: 20px;
  border: none;
  font-family: 'Futura PT', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(47, 34, 34, 0.4);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 13px 68px;
  background: var(--lilac-color);
  font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--white-color);
  border-radius: 20px;
}

.form-btn span{
  margin-right: 12px;
}

/* === header === */

.header {
  position: relative;
  padding-top: 6px;
  padding-bottom: 4px;
  background-color: var(--white-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transform: translateY(5px);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: var(--grid-gap);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  position: relative;
  font-size: 18px;
  color: var(--dark-color);
}

.nav__link--current {
  color: var(--lilac-color);
}

.nav__link--current::after,
.pagination__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.nav__item:not(:last-child) {
  margin-right: var(--grid-gap);
}

.phone {
  font-weight: 500;
  font-size: 18px;
  color: var(--lilac-color);
  background-image: url(../img/tel.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
}

.banner {
  height: 300px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* === posts === */

.content {
  padding-top: var(--grid-gap);
  padding-bottom: 110px;
}

.content__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.posts {
  grid-column: 3 span;
}

.post-grid {
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 180px);
  gap: var(--grid-gap);
}

.blog-post {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--grid-gap);
  background-color: var(--white-color);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: box-shadow .3s ease-in-out, background .3s ease-in-out;
}

.blog-post__category {
  position: relative;
  z-index: 5;
  padding: 8px 16px;
  margin-bottom: 30px;
  background-color: #f7f8fd;
  border-radius: 8px;
  font-size: 16px;
  color: var(--lilac-color);
}

.blog-post__title {
  margin-bottom: 20px;
}

.blog-post__link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.blog-post__descr {
  margin: 0;
  padding-right: var(--grid-gap);
  font-size: 18px;
  line-height: 23px;
  color: rgba(47, 34, 34, 0.4);
}

.blog-post__date {
  position: absolute;
  right: var(--grid-gap);
  top: var(--grid-gap);
  font-size: 16px;
  color: rgba(47, 34, 34, 0.4);
}


.blog-post--main {
  height: 280px;
  margin-bottom: var(--grid-gap);
}

.post-grid__item:nth-child(5n+1) {
  grid-column: 2 span;
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n+2) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n+3) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n+4) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n+5) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n+2) .blog-post {
  background: var(--lilac-color);
}

.post-grid__item:nth-child(5n+2) .blog-post,
.post-grid__item:nth-child(5n+3) .blog-post {
  padding-left: 30px;
  padding-right: 30px;
}

.post-grid__item:nth-child(5n+4) .blog-post,
.post-grid__item:nth-child(5n+5) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-grid__item:nth-child(5n+2) .blog-post__category {
  background-color: #7D8DE4;
  color: var(--white-color);
}

.post-grid__item:nth-child(5n+3) .blog-post__category {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white-color);
}

.post-grid__item:nth-child(5n+4) .blog-post__category,
.post-grid__item:nth-child(5n+5) .blog-post__category {
  margin-bottom: 20px;
}

.post-grid__item:nth-child(5n+2) .blog-post__title,
.post-grid__item:nth-child(5n+3) .blog-post__title {
  color: var(--white-color);
}

.post-grid__item:nth-child(5n+2) .blog-post__descr,
.post-grid__item:nth-child(5n+3) .blog-post__descr,
.post-grid__item:nth-child(5n+4) .blog-post__descr,
.post-grid__item:nth-child(5n+5) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n+2) .blog-post__date,
.post-grid__item:nth-child(5n+2) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  color: var(--white-color);
}

.post-grid__item:nth-child(5n+4) .blog-post__date,
.post-grid__item:nth-child(5n+5) .blog-post__date {
  top: 30px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__link {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  color: var(--black-color);
}

.pagination__link--current {
  color: var(--lilac-color);
}

.popular-posts {
  margin-bottom: 32px;
}

.popular-posts__title {
  margin-bottom: 21px;
}

.popular-posts--article .blog-post__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.popular-posts--article .blog-post__date {
  position: initial;
  font-size: 18px;
  line-height: 23px;
}

.popular-posts__item:last-child .popular-posts--article {
  border-bottom: 1px solid transparent;
}

.popular-posts--article {
  padding: 0;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: transparent;
  border-bottom: 1px solid #e5e4e4;
  border-radius: 0;
}

.subscribe {
  padding: var(--grid-gap) 0;
  /* padding: var(--grid-gap) 30px; */
  background: var(--white-color);
  border-radius: 20px;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 30px;
}

.sub-form {
  /* display: flex;
  flex-direction: column; */
  padding-left: 30px;
  padding-right: 30px;
}

.sub-form__input {
  margin-bottom: 20px;
}

/* === footer === */

.footer {
  padding-top: var(--grid-gap);
  padding-bottom: var(--grid-gap);
  background-color: #f1f2f8;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__nav {
  margin-bottom: 65px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 80px;
}

.footer__copy {
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-color);
}

.header-search {
  display: none;
  position: absolute;
  padding: 25px 40px;
  top: calc(100% + 80px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 1040px;
  background-color: var(--white-color);
  border-radius: 20px;
  width: 100%;
}

.header-search__form {
  display: flex;
  align-items: center;
}

.header-search__input {
  margin-right: 20px;
}

.header-search__btn {
  width: 196px;
  padding: 13px 55px
}

.header-search__close {
  position: absolute;
  top: -20px;
  right: -20px;
}

.header-search__close svg {
  width: 20px;
  height: 20px;
}


